In [6]:
#list : array 
# help(list)
#they are mutable, ordwered, can be indexed, it allows duplicates
li = ["mak","andy","ram",1,True,1.2]
print(li)

for i in li:
    print(i)

print(type(li))

['mak', 'andy', 'ram', 1, True, 1.2]
mak
andy
ram
1
True
1.2
<class 'list'>

In [5]:
print(len(li))
li=[]
x=list()

6

In [10]:
# Create an empty list and assign it to the variable "empty".
empty = []


# Create a list with a single Boolean — True — and assign it to the variable "active".
active = [True]

# Create a list with 5 integers of your choice and assign it to the variable "favorite_numbers".


# Create a list with 3 strings  — "red", "green", "blue" — and assign it to the variable "colors".


# Declare an is_long function that accepts a single list as an argument
# It should return True if the list has more than 5 elements, and False otherwise

def is_long(li):
    # if len(li)>5:
    #     return True
    # return False
    return len(li)>5
print(is_long([1,2,3,4,5,6]))

True

In [12]:
#membership opertor==> in and not in 
li = [1,2,3,4,56,7]
print(2 not in li)

False

In [18]:
#selecting elements by +ve and -ve numbers
li = ["mak","andy","ram",1,True,1.2]
print(li[-4])

#list slicing by rnge and steps 
li[3:100:2]

ram

[1, 1.2]

In [24]:
#list iteration
li = ["mak","andy","ram",1,True,1.2]
# for i in li:
#     print(i)

#iteration wih conditional logic
for i in li:
    print(i)
    if i=="mak":
        print("you have won")
        continue

mak
you have won
andy
ram
1
True
1.2

In [30]:
# dir(list)
#reversed function
li = ["mak","andy","ram",1,True,1.2]
# print(li[::-1])
for i in reversed(li):
    print(i)

1.2
True
1
ram
andy
mak

In [33]:
#append method
li=["mak"]
for i in range(1,11):
    li.append(i)
print(li)

['mak', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
# x=[]
# x.append("mak")
# x

['mak']

In [35]:
#enumerate function
li = ["mak","andy","ram",1,True,1.2]
for i,j in enumerate(li):
    print(i,j)

0 mak
1 andy
2 ram
3 1
4 True
5 1.2

In [47]:
#list mutation
li = ["mak","andy","ram",1,True,1.2]
#assign value to our list
# li[3] = "madhvendra"
li[0:100] 
li

['mak', 'andy', 'ram', 1, True, 1.2]

In [59]:
#building a list from another list
li = [1,2,3,4,5,6,7]
new_li = []
for i in li:
    if i%2==0:
        new_li.append(i)
print(new_li)
        

#insert method
# li.insert(3,"mak")
# li

[2, 4, 6]

In [56]:
print(10%3)
print(21%4)

1
1

In [ ]:
print(1%2)

In [ ]:
# Define a smallest_number function  that accepts a list of numbers.
# It should return the smallest value in the list.
#
# smallest_number([1, 2, 3])     =&gt; 1
# smallest_number([3, 2, 1])     =&gt; 1
# smallest_number([4, 5, 4])     =&gt; 4
# smallest_number([-3, -2, -1])  =&gt; -3

In [ ]:
# Define a concatenate function that accepts a list of strings. 
#
# The function should return a concatenated string which consists of
# all list elements whose length is greater than 2 characters.
#
# concatenate(["abc", "def", "ghi"])      =&gt; "abcdefghi"
# concatenate(["abc", "de", "fgh", "ic"]) =&gt; "abcfgh"
# concatenate(["ab", "cd", "ef", "gh"])   =&gt; ""

In [ ]:
# Define a super_sum function that accepts a list of strings. 
# The function should sum the index positions of the first occurence of the letter “s” in each word. 
#
# Not every word is guaranteed to have an “s”.
# Don’t use "sum" as a variable name as it’s a built-in keyword.
#
# super_sum([])                                 =&gt; 0
# super_sum(["mustache"])                       =&gt; 2
# super_sum(["mustache", "greatest"])           =&gt; 8
# super_sum(["mustache", "pessimist"])          =&gt; 4
# super_sum(["mustache", "greatest", "almost"]) =&gt; 12

In [ ]:
# Define an in_list function that accepts a list of strings and a separate string.
# Return the index where the string exists in the list.
# If the string does not exist, return -1.
# Do NOT use the find or index methods.
#
# EXAMPLES
# strings = ["enchanted", "sparks fly", "long live"]
# in_list(strings, "enchanted")  ==> 0
# in_list(strings, "sparks fly") ==> 1
# in_list(strings, "fifteen")    ==> -1
# in_list(strings, "love story") ==> -1

In [ ]:
# Define a sum_of_values_and_indices function that accepts a list of numbers. 
# It should return the sum of all of the elements along with their index values.
#
# EXAMPLES
# sum_of_values_and_indices([1, 2, 3])    => (1 + 0) + (2 + 1) + (3 + 2) => 9
# sum_of_values_and_indices([0, 0, 0, 0]) => 6
# sum_of_values_and_indices([])           => 0

In [ ]:
# Declare a length_match function that accepts a list of strings and an integer.
# It should return a count of the number of strings whose length is equal to the number.
#
# EXAMPLES
# length_match(["cat", "dog", "kangaroo", "mouse"], 3))  => 2
# length_match(["cat", "dog", "kangaroo", "mouse"], 5))  => 1
# length_match(["cat", "dog", "kangaroo", "mouse"], 4))  => 0
# length_match([], 5))                                   => 0

In [ ]:
# Declare a sum_from function that accepts two numbers as arguments.
# The second number will always be greater than the first number.
# The function should return the sum of all numbers from the first number to the second number (inclusive).
#
# EXAMPLES
# sum_from(1, 2)   # 1 + 2                  => 3
# sum_from(1, 5)   # 1 + 2 + 3 + 4 + 5      => 15
# sum_from(3, 8)   # 3 + 4 + 5 + 6 + 7 + 8  => 33
# sum_from(9, 12)  # 9 + 10 + 11 + 12       => 42

In [ ]:
# Declare a same_index_values function that accepts two lists.
# The function should return a list of the index positions in which the two lists have equal elements
#
# EXAMPLES
# same_index_values([1, 2, 3], [3, 2, 1])                         => [1]
# same_index_values(["a", "b", "c", "d"], ["c", "b", "a", "d"])   => [1, 3]

In [ ]:
# Define an only_evens function that accepts a list of numbers. 
# It should return a new list consisting of only the even numbers from the original list.
#
# EXAMPLES
# only_evens([4, 8, 15, 16, 23, 42]) => [4, 8, 16, 42]
# only_evens([1, 3, 5])              => []
# only_evens([])                     => []